page-login {
    .title{
        text-align: center;
        font-size: 35px;
        color: white;
    }

    .subtitle{
        text-align: center;
        font-size: 25px;
        color: white;
    }

    .content{
        background-color: #b6b6b6;
    }

    .login-card{
        border-radius: 20px;
        background-color: #8d8d8d;
    }

    ion-item{
        border-radius: 20px;
    }
    
}
