page-home {
    .content{
        background-color: #b6b6b6;
    }

    .toolbar-background.toolbar-background-md{
        background-color: transparent;
    }

    .icon{
        color: white;
        //font-size: 3em;
    }

    p{
        color: white;
        font-size: 2em;
    }
}
