page-home {
    .content{
        background-color: #b6b6b6;
    }

    .toolbar-background.toolbar-background-md{
        background-color: transparent;
    }

    .icon,
    p{
        color: white;
    }
}
