page-user {

    .toolbar-background.toolbar-background-md{
        background-color: transparent;
    }

    .toolbar-title.toolbar-title-md{
        color: white;
    }

    .card.card-md{
        background-color: #8d8d8d;
        h1{
            -webkit-user-select: text;
            color: white;
        }
        h2{
            -webkit-user-select: text;
            color: white;
        }
        p{
            -webkit-user-select: text;
            color: white;
        }
    }

    .item.item-block.item-md{
        background-color: transparent;
    }
}
