<ion-header>
  <ion-grid>
    <ion-row>
      <ion-col col-md-2 col-lg-2 col-xl-2></ion-col>
      <ion-col col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8>
        <ion-navbar>
          <ion-title>Usuarios</ion-title>
          <ion-buttons end>
            <button ion-button icon-only (click)="createUser()" ><ion-icon name="add"></ion-icon></button>
          </ion-buttons>
        </ion-navbar>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
</ion-header>


<ion-content padding>
  <!--ion-grid>
    <ion-row>
      <ion-col></ion-col>
      <ion-col col-12 col-sm-10 col-md-7 col-lg-5 col-xl-4>
      <ion-col-->
        <ion-list inset>
          <ion-item-divider>
            <p class="title">Conserjes</p>
          </ion-item-divider>
          <button ion-item *ngFor="let conserje of conserjes" (click)="goToUserPage(conserje.uid, conserje.sex, conserje.profile, conserje.profilePhoto)">
            <ion-avatar item-start>
              <img src="{{conserje.profilePhoto}}">
            </ion-avatar>
            <p class="item-text">{{conserje.name}} {{conserje.surname}}</p>
            <p class="item-text" item-end> {{conserje.dateUserCreateResume}} </p>
          </button>
          <ion-item-divider margin-top>
            <p class="title">Moradores</p>
          </ion-item-divider>
          <button ion-item *ngFor="let vecino of vecinos" (click)="goToUserPage(vecino.uid, vecino.sex, vecino.profile, vecino.profilePhoto)">
            <ion-avatar item-start>
              <img src="{{vecino.profilePhoto}}">
            </ion-avatar>
            <p class="item-text">{{vecino.name}} {{vecino.surname}}</p>
            <p class="item-text" item-end> {{vecino.dateUserCreateResume}} </p>
          </button>
        </ion-list>
      <!--/ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid-->
</ion-content>
